:host {
  background-color: var(--background-color);
}

.functions-container {
  padding-left: 0 !important;
  padding-right: 0 !important;

  opacity: 0;
}

.function-group {
  box-shadow: none !important;
  background-color: transparent !important;

  .function-group-name {
    color: var(--text-color);
    font-size: 20px;
  }
}

.function-card {
  cursor: pointer;
  width: 100%;
  min-height: 100%;

  .function-card-header {
    padding: 10px 16px;
    border-radius: 4px 4px 0 0;
    background: var(--card-header-color);
  }
}

.func-signature {
  display: flex;
  flex-wrap: wrap;
  margin: 3px 0;

  .func-name {
    color: rgb(220, 50, 47);
  }

  .arg-type {
    color: teal;
  }

  .arg-name {
    color: rgb(25, 95, 145);
  }

  .arg-punc {
    color: rgb(147, 161, 161)
  }
}
