# Dependencies
/node_modules
/.pnp
.pnp.js

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
coverage/

# System files
.DS_Store
Thumbs.db

# Compiled output
dist/

# Angular
.angular/

