<mat-toolbar>
  <button type="button" mat-icon-button (click)="cancel()"><mat-icon svgIcon="arrow_back"></mat-icon></button>
  <h1>History</h1>
  <span class="spacer"></span>
  <button type="button" mat-button (click)="clear()">CLEAR</button>
</mat-toolbar>

<div mat-dialog-content class="history-content">
  <mat-list role="list">
    @for (bracket of historyBrackets; track bracket; let isFirst = $first) {
      @if (!isFirst) {
        <mat-divider></mat-divider>
      }
      <h3 matSubheader>{{ bracket.name }}</h3>

      @for (historyItem of bracket.items; track historyItem) {
        <ng-container
          [ngTemplateOutlet]="historyItemTemplate"
          [ngTemplateOutletContext]="{ historyItem: historyItem }">
        </ng-container>
      }
    }
  </mat-list>
</div>

<ng-template let-historyItem="historyItem" #historyItemTemplate>
  <mat-list-item class="history-item">
    <div matLine matRipple mat-flat-button class="button expression" (click)="emitInsertExpression(historyItem.expression)">
      <div class="history-expression">
        @for (token of historyItem.expression; track token) {
          <span
            [innerHtml]="token.value | mathToken"
            [ngClass]="token.type">
          </span>
        }
      </div>
    </div>

    <div matLine matRipple mat-flat-button class="button" (click)="emitInsertResult(historyItem.result)">
      <div class="history-result" [innerHtml]="historyItem.result | mathResult:data.answerFormat"></div>
    </div>
  </mat-list-item>
</ng-template>
