@mixin phone-landscape {
  @media screen and (min-aspect-ratio: 5/4) and (max-height: 500px) {
    @content;
  }
}

.page-wrapper {
  min-width: 350px;

  @include phone-landscape {
    min-width: 600px;
  }

  .unit-converter-page {
    @media (min-width: 1250px) {
      width: 1200px;
      margin: auto !important;
    }

    @media (min-height: 950px) {
      max-height: 900px;
      margin: auto 0;
    }

    padding-bottom: calc(25px + env(safe-area-inset-bottom) / 2);
  }
}

.converter-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  @include phone-landscape {
    flex-direction: row;
  }
}

.expended-output-container {
  flex: 0.4;
  margin-left: 20px;
  overflow-y: auto;
  display: none;

  .expended-output-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px 40px;

    .expended-output-item {
      overflow: hidden;
      text-overflow: ellipsis;

      .expended-output-unit {
        font-size: 11px;
        color: gray;
        display: block;
        margin-top: -2px;
      }

      .expended-output-result {
        display: inline-block;
        user-select: text;
      }
    }
  }
}

.units-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  min-height: 190px;

  .target-quantity-select {
    height: 30px;
  }

  .input-container, .output-container {
    display: flex;
    flex-direction: column;
    flex: 4.7;
    margin-bottom: 15px;

    .text-block {
      border: 1px rgb(214, 214, 214) solid;
      padding: 5px 10px 5px 10px;
      line-height: 0;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      user-select: text;
    }

    .unit-select {
      margin-top: 7px;
    }
  }

  @include phone-landscape {
    margin-bottom: 0;
    margin-right: 25px;
    flex: 5;

    .output-container {
      margin-bottom: 0;
    }
  }
}

.numeric-pad-container {
  flex: 6;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  button {
    font-size: 30px;

    mat-icon {
      vertical-align: text-top;
    }

    &.additional-button {
      background: var(--alt-button-color);
    }
  }

  @include phone-landscape {
    flex: 5;
  }
}

@media (min-width: 950px) and (min-height: 640px) {
  .expended-output-container {
    display: block;
  }
}

@media (min-height: 800px) {
  .numeric-pad-container {
    button {
      font-size: 40px;
    }
  }
}
