<h1 mat-dialog-title>Preferences</h1>

<mat-toolbar>
  <button type="button" mat-icon-button [mat-dialog-close]="data"><mat-icon>arrow_back</mat-icon></button>
  <h1>Preferences</h1>
  <span class="spacer"></span>
  <button type="button" mat-button (click)="reset()">Reset</button>
</mat-toolbar>

<div mat-dialog-content>
  <div class="talex-form-grid">
    <ng-container *ngIf="this.themingService.theme.value === 'light-theme'; else darkColors">
      <talex-color-picker [(color)]="data.backgroundColor" placeholder="Background color"></talex-color-picker>
      <talex-color-picker [(color)]="data.foregroundColor" placeholder="Foreground color"></talex-color-picker>
      <talex-color-picker [(color)]="data.gridlinesColor" placeholder="Gridlines color"></talex-color-picker>
      <talex-color-picker [(color)]="data.axesColor" placeholder="Axes color"></talex-color-picker>
    </ng-container>

    <ng-template #darkColors>
      <talex-color-picker [(color)]="data.backgroundColorDark" placeholder="Background color"></talex-color-picker>
      <talex-color-picker [(color)]="data.foregroundColorDark" placeholder="Foreground color"></talex-color-picker>
      <talex-color-picker [(color)]="data.gridlinesColorDark" placeholder="Gridlines color"></talex-color-picker>
      <talex-color-picker [(color)]="data.axesColorDark" placeholder="Axes color"></talex-color-picker>
    </ng-template>

    <mat-slide-toggle color="primary" [(ngModel)]="data.gridlinesVisibility">Gridlines</mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="data.axesVisibility">Axes</mat-slide-toggle>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data">Close</button>
  <button type="button" mat-button (click)="reset()">Reset</button>
</div>
