<form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
  <h1 mat-dialog-title>{{ isEdit ? "Edit trace" : "New trace" }}</h1>

  <mat-toolbar>
    <button type="button" mat-icon-button (click)="cancel()"><mat-icon svgIcon="arrow_back"></mat-icon></button>
    <h1>{{ isEdit ? "Edit trace" : "New trace" }}</h1>
    <span class="spacer"></span>
    <button type="submit" mat-button [disabled]="!f.valid">{{ isEdit ? "APPLY" : "ADD" }}</button>
  </mat-toolbar>

  <div mat-dialog-content>
    <div class="talex-form-grid">
      <mat-form-field class="talex-form-item-2cols">
        <mat-label>expression</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="data.expression"
          #expression="ngModel"
          name="expression"
          autocomplete="off"
          autocapitalize="off"
          cdkFocusInitial
          required
          appMathExpression
          (keyup.enter)="f.valid && f.onSubmit(f)">
        <span matPrefix>F(x)=&nbsp;</span>

        <mat-error>{{ (expression.errors || {})['mathExpression'] }}</mat-error>
      </mat-form-field>

      <div class="bound-control-container">
        <mat-slide-toggle color="primary" [(ngModel)]="data.hasLowerBound" name="hasLowerBound">Lower bound</mat-slide-toggle>
        <input type="number" [hidden]="!data.hasLowerBound" matInput talexNumberInput [maxValue]="data.upperBound" [(ngModel)]="data.lowerBound" name="lowerBound">
      </div>

      <div class="bound-control-container">
        <mat-slide-toggle color="primary" [(ngModel)]="data.hasUpperBound" name="hasUpperBound">Upper bound</mat-slide-toggle>
        <input type="number" [hidden]="!data.hasUpperBound" matInput talexNumberInput [minValue]="data.lowerBound" [(ngModel)]="data.upperBound" name="upperBound">
      </div>

      <talex-color-picker [(color)]="data.color" placeholder="Color"></talex-color-picker>

      <div class="talex-form-field">
        <span class="talex-form-label-wrapper">
          <label for="line-thickness">Line thickness: {{ data.lineThickness }}</label>
        </span>
        <mat-slider id="line-thickness" min="1" max="5" step="1" class="line-thickness-slider">
          <input matSliderThumb [(ngModel)]="data.lineThickness" name="lineThickness">
        </mat-slider>
      </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button type="button" mat-button (click)="cancel()">CANCEL</button>
    <button type="submit" mat-button [disabled]="!f.valid">{{ isEdit ? "APPLY" : "ADD" }}</button>
  </div>
</form>
