/* Cookies Consent */
.cc-window.cc-bottom {
  color: dimgray !important;
  background: white !important;
  box-shadow: 0 -3px 10px 0 rgba(0,0,0,.0785);

  .cc-btn.cc-dismiss {
    background: dodgerblue !important;
    color: white !important;
    text-transform: uppercase;

    &:hover, &:focus {
      background-color: lighten(dodgerblue, 5%) !important;
    }
  }
}
