<div class="page-wrapper">
  <mat-toolbar>
    <button mat-icon-button aria-label="Menu" (click)="onMenuToggle()"><mat-icon svgIcon="menu"></mat-icon></button>
    <h1>Unit Converter</h1>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Swap units" aria-label="Swap units" (click)="swap()"><mat-icon svgIcon="swap_vert"></mat-icon></button>
  </mat-toolbar>

  <div class="page-container unit-converter-page">
    <div class="converter-container">
      <div class="units-container">
        <div class="target-quantity-select">
          <mat-select [(value)]="targetQuantity" class="uppercase">
            @for (quantityModel of quantities; track quantityModel) {
              <mat-option class="uppercase" [value]="quantityModel">
                {{ quantityModel.quantity.name }}
              </mat-option>
            }
          </mat-select>
        </div>

        <div class="input-container">
          <div class="text-block" talexFitText maxFontSize="150" talexClickable (elPress)="inputMenu()">
            {{ sourceValue }}
          </div>

          <mat-select class="unit-select" [(value)]="targetQuantity.inputUnit">
            @for (unit of targetQuantity.quantity.units; track unit) {
              <mat-option [value]="unit">{{ unit.plural }}</mat-option>
            }
          </mat-select>
        </div>

        <div class="output-container">
          <div class="text-block" talexFitText maxFontSize="150" talexClickable (elPress)="outputMenu()">
            {{ convertedValue.toSignificantDigits(MaxInputLength - 1).toFixed() }}
          </div>

          <mat-select class="unit-select" [(value)]="targetQuantity.outputUnit">
            @for (unit of targetQuantity.quantity.units; track unit) {
              <mat-option [value]="unit">{{ unit.plural }}</mat-option>
            }
          </mat-select>
        </div>
      </div>

      <div class="numeric-pad-container">
        <button mat-raised-button talexClickable (elClick)="input('7')">7</button>
        <button mat-raised-button talexClickable (elClick)="input('8')">8</button>
        <button mat-raised-button talexClickable (elClick)="input('9')">9</button>
        <button mat-raised-button talexClickable class="additional-button" (elClick)="clear()" matTooltip="Clear">c</button>

        <button mat-raised-button talexClickable (elClick)="input('4')">4</button>
        <button mat-raised-button talexClickable (elClick)="input('5')">5</button>
        <button mat-raised-button talexClickable (elClick)="input('6')">6</button>
        <button mat-raised-button talexClickable (elClick)="backspace()" matTooltip="Backspace" aria-label="Backspace" class="additional-button">
          <mat-icon svgIcon="backspace"></mat-icon>
        </button>

        <button mat-raised-button talexClickable (elClick)="input('1')">1</button>
        <button mat-raised-button talexClickable (elClick)="input('2')">2</button>
        <button mat-raised-button talexClickable (elClick)="input('3')">3</button>
        <button mat-raised-button talexClickable (elClick)="changeSign()" class="additional-button">±</button>

        <button mat-raised-button talexClickable (elClick)="input('0')" style="grid-column-start: 1; grid-column-end: 4">0</button>
        <button mat-raised-button talexClickable (elClick)="input('.')" class="additional-button">.</button>
      </div>
    </div>

    <mat-card appearance="outlined" class="expended-output-container">
      <mat-card-content>
        <div class="expended-output-grid">
          @for (result of converterValues; track result) {
            <div class="expended-output-item">
              <span class="expended-output-result">{{ result.value.toDecimalPlaces(MaxInputLength - 1).toFixed() }}</span>
              <span class="expended-output-unit">{{ result.unit }}</span>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

