<mat-toolbar>
  <button mat-icon-button (click)="onMenuToggle()"><mat-icon svgIcon="menu"></mat-icon></button>
  <h1>Settings</h1>
  <span class="spacer"></span>
  <button type="button" mat-button (click)="reset()">Reset</button>
</mat-toolbar>

<div class="page-container settings-page">
  <mat-tab-group>
    <mat-tab label="General">
      <div class="tab-container">
        <mat-form-field>
          <mat-select placeholder="Theme" [(ngModel)]="settings.theme">
            <mat-option value="system">System default</mat-option>
            <mat-option value="light">Light</mat-option>
            <mat-option value="dark">Dark</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-list-item>
          <mat-slide-toggle color="primary" [(ngModel)]="settings.showNewReleasesNotifications">
            Show new releases notifications
          </mat-slide-toggle>
        </mat-list-item>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
