.help-page-wrapper {
  min-width: 300px;

  .help-page {
    flex-direction: column;
    padding: 0;
    padding-top: 25px;

    .tab-label {
      margin-left: 7px;
    }

    .help-subpage-container {
      padding: 25px;
      padding-top:0;
      overflow-y: auto;
      height: 100%;
    }

    @media (max-width: 850px) {
      .mat-mdc-tab-links {
        a {
          min-width: 60px !important;
          flex-basis: 0 !important;
          flex-grow: 1 !important;
        }
      }

      .tab-label {
        display: none;
      }
    }
  }
}
