/* Material responsive dialog */

.responsive-dialog {
  mat-toolbar {
    display: none;

    h1 {
      text-transform: none;
      margin: 0 !important;
    }
  }
}

@media (max-width: 600px), (max-height: 400px) {
  .responsive-dialog {
    width: 100% !important;
    height: 100% !important;
    max-width: 100vw !important;
    max-height: 100vh !important;

    .mat-mdc-dialog-container {
      border-radius: 0;
      padding: 0;

      >.ng-star-inserted, form {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        height: 100%;

        .mat-mdc-dialog-title, .mat-mdc-dialog-actions {
          display: none;
        }

        .mat-mdc-dialog-content {
          max-height: none;
          flex: 1 1 auto;
          position: relative; /* need this to position inner content */
          overflow-y: auto;
          margin: 0;
          padding: 24px;
          background-color: var(--background-color);
        }

        mat-toolbar {
          display: flex;
          padding: 0 12px;
          flex: 0 0 auto;
        }
      }
    }
  }
}

/* Material fullscreen dialog */

.fullscreen-dialog {
  width: 100% !important;
  height: 100% !important;
  max-width: 100vw !important;
  max-height: 100vh !important;

  mat-toolbar {
    h1 {
      text-transform: none;
      margin: 0 !important;
    }
  }

  .mat-mdc-dialog-container {
    border-radius: 0;
    padding: 0;

    >.ng-star-inserted, form {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      height: 100%;

      .mat-mdc-dialog-content {
        max-height: none;
        flex: 1 1 auto;
        position: relative; /* need this to position inner content */
        overflow-y: auto;
        margin: 0;
        padding: 24px;
        background-color: var(--background-color);
      }

      mat-toolbar {
        display: flex;
        padding: 0 12px;
        flex: 0 0 auto;
      }
    }
  }
}
