html, body {
  height: 100%;
  min-height: 350px;
  min-width: 200px;
}

@media all and (display-mode: standalone) {
  html, body {
    /* Required for iOS */
    height: 100vh;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  user-select: none;
}

input {
  user-select: auto !important;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

@media only screen and (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
  }
}
