@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$angular-primary: mat-palette($mat-blue, 700, 600, 800);
$angular-accent: mat-palette($mat-red, 700, 600, 800);

// The warn palette is optional (defaults to red).
$angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($light-theme);

:root {
  --background-color: white;
  --text-color: black;
  --toolbar-color: white;
  --alt-button-color: whitesmoke;

  .dark-theme {
    --background-color: #303030;
    --text-color: white;
    --toolbar-color: #383838;
    --alt-button-color: #6f6f6f;
  }
}

.dark-theme {
  @include angular-material-color($dark-theme);
}


